<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="css/style_addpost.css">
</head>
<body>
    <div class="main_div">
        <p class="titles">Добавить категорию</p>
        <form method="post" action="/add_cat">
            <p><input type="text" id="user" name="title" placeholder="Title" class="inputs"/></p>
		    <button type="submit" class="sumbit">Отправить</button>
        </form>
    </div>
</body>
</html>